In [ ]:
#Print the first 10 natural numbers using for loop.
n=11
for i in range(1,n):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Print all the even numbers within the given range.
for i in range(1,20):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
#Calculate the sum of all numbers from 1 to a given number.
n=10
total_sum=0
for i in range(1,11):
  total_sum+=i
print(total_sum)

55

In [ ]:
given_number = 10  # You can replace this with any desired number
total_sum = 0

for i in range(1, given_number + 1):
    total_sum += i

print("The sum of numbers from 1 to", given_number, "is:", total_sum)

The sum of numbers from 1 to 10 is: 55

In [ ]:
#calculate the sum of all the odd numbers within the given range.
total_sum=0
for i in range(1,10):
  if i%2!=0:
    total_sum+=i
print(total_sum)

50

In [ ]:
#Print multiplication table of a given number.
num=13
for i in range(1,11):
  print(13,'x',i,'=',13*i)

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [ ]:
#Display numbers from a list using for loop.
a=[1,2,3,4,5,6,7,8,9]
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#program to write the total number of digits in a number.
n=123456
count=0
n=str(n)
for i in n:
  count+=1
print(count)

6

In [ ]:
#Python program to check if given string is palindrome.
word = 'level'
for i in word:
  if word[::-1]:
    reverse_word=i
  print(reverse_word,end='')

level

In [ ]:
#Python program to check if given string is palindrome.
word=(input('Enter a word:'))
if word==word[::-1]:
  print('It is a reverse word')
else:
  print('It is not a reverse word')

Enter a word:level
It is a reverse word

In [ ]:
#Program that accepts a word from the user and reverses it.
word=input('Enter a number:')
reverse_word=''
for i in word:
  reverse_word=i+reverse_word
print(reverse_word)

Enter a number:level
level

In [ ]:
#Program to count the number of even and odd numbers from a series of numbers.
num=[1,2,3,5,9,88,15,19,17,16]
for i in num:
  if i%2==0:
    print(i,"is an even number.")
  else:
    print(i,"is an odd number.")

1 is an odd number.
2 is an even number.
3 is an odd number.
5 is an odd number.
9 is an odd number.
88 is an even number.
15 is an odd number.
19 is an odd number.
17 is an odd number.
16 is an even number.

In [20]:
#Program to find the factorial of a given number.
num=5
factorial=1
for i in range(1,6):
  factorial= factorial*i
print(factorial)

120

In [ ]:
#program that accepts a string and calculates the number of digits and letters.

digit=0
letter=0
word=input('Enter a word:')
for i in word:
  if i.isdigit():
    digit=digit+1
  elif i.isalpha():
    letter=letter+1
print('It has',digit,'digits and',letter,'letter.')

Enter a word:word123
It has 3 digits and 4 letter.

In [5]:
#Factorial of a number
num=10
fact=1
for i in range(1,11):
  fact = i*fact
print(fact)

3628800

In [24]:
#Factorial of a number
num=10
fact=1
for i in range(1,11):
  fact = i*fact
print(fact)

3628800

In [49]:
#Separate a positive and negative number from list
list=[0,1,2,3,4,5,-5,-4,-1,-10,-6,11]
for i in list:
  if i>0:
    print(i,'is a positive number.')
  else:
    print(i,'is a negative number.')

0 is a negative number.
1 is a positive number.
2 is a positive number.
3 is a positive number.
4 is a positive number.
5 is a positive number.
-5 is a negative number.
-4 is a negative number.
-1 is a negative number.
-10 is a negative number.
-6 is a negative number.
11 is a positive number.

In [37]:
#Factorial of a number
num=int(input('Please enter a number:'))
fact=1
for i in range(1,num+1):
  fact = i*fact
print(fact)

Please enter a number:8
40320

In [51]:
a=0
b=1
f_series=[a,b]
for i in range(2,10):
  c = a+b
  f_series.append(c)
  a=b
  b=c
print(f_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [53]:
f_list=[0,1]
number_of_terms=int(input('Number of terms:'))
while len(f_list)<number_of_terms:
  next_term=f_list[-1]+f_list[-2]
  f_list.append(next_term)
print(f_list)

Number of terms:10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [22]:
#Find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700(both included).
for i in range(1500,2701):
  if i%7==0 and i%5==0:
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [21]:
#Write a program to count the number of even and odd numbers in a series of numbers.
#sample numbers =(1,2,3,4,5,6,7,8,9)
a=(1,2,3,4,5,6,7,8,9)
even=0
odd=0
for i in a:
  if i%2==0:
    even+=1
  else:
    odd+=1
print('Number of even numbers:',even)
print('Number of odd numbers:',odd)

Number of even numbers: 4
Number of odd numbers: 5

In [8]:
#Write a python program that prints all the numbers from 0 to 6 except 3 and 6.
for i in range(6):
  if i!=3 and i!=6:
    print(i)

0
1
2
4
5