In [ ]:
#Basic Python Operators

In [6]:
a = 100
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) # '%' This sign is called modulus. It gives remainder.
print(a//b)# '//'. It is called floor division. It gives quotient.
print(a**b)# It gives exponential.

120
80
2000
5.0
0
5
10000000000000000000000000000000000000000

In [8]:
#Comparision Operators
a = 100
b = 20
print(a==b) #double equal (==)is used for comparision.
print(a>b)
print(a<b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
False
True
False
True

In [28]:
#Association Operator
#a = a + b => a += b
a = 100
b = 20
a +=b
print(a,b)

a = 100
b = 20
a -=b
print(a,b)

a = 100
b = 20
a /=b
print(a,b)

a = 100
b = 20
a %=b
print(a,b)

a = 100
b = 20
a //=b
print(a,b)

a = 100
b = 2
a **=b
print(a,b)

120 20
80 20
5.0 20
0 20
5 20
10000 2

In [ ]:
#Python logical operator

In [33]:
a = 100
b = 20
print(a > 80 and b < 80) #In case of and operator both condition should be true.
print(a < 80 and b > 80)
print(a == 80 and b < 80)
print(a > 80 and b > 80)

True
False
False
False

In [36]:
# Or operator
print(a > 80 or b < 80)
print(a < 80 or b < 80)
print(a == 80 or b < 80)
print(a < 80 or b > 80)

True
True
True
False

In [40]:
#Python membership operators
a = 100
b = [100,200,300,400,500]
a in b

a = 600
b = [100,200,300,400,500]
a in b

a = 100
b = [100,200,300,400,500]
b in a #List is an iterable obaject and we cannot check inside iterable object

TypeError: argument of type 'int' is not iterable

In [42]:
# Not in

a = 100
b = [100,200,300,400,500]
a  not in b

a = 600
b = [100,200,300,400,500]
a not in b

True

In [47]:
#Identity Operators

a = 100
b = 20

a is b #is refers to equal to

a is not b

a = 100
b = 100

a is b

a is not b

False

In [52]:
#if statement
a = 100
b = 20
if (a < b) and a ==b:
  print('a is greater than b')
else:
  print('we are in else section')

we are in else section

In [53]:
a = 100
b = 20
if (a > b) and a !=b:
  print('a is greater than b')
else:
  print('we are in else section')

a is greater than b

In [61]:
percentage = 98
if percentage >=75:
  print('First class with distinction')
elif percentage >=60:
  print('First class')
elif percentage >=40:
  print('Second class')
elif percentage >=35:
  print('Third class')
else:
  print('Better luck next time')

First class with distinction

In [62]:
#Nested if statement
a = 100

if a > 25:
  print('a is greater than 25')
  if a > 50:
    print('a is greater than 50')
    if a > 75:
      print('a is greater than 75')
      if a > 100:
        print('a is greater than 100')
        if a > 125:
          print('a is greater than 125')

a is greater than 25
a is greater than 50
a is greater than 75

In [63]:
#Second Session
num = 48
print(num%7) #Modulus operator gives remainder

6

In [64]:
num = 48
if num%7 ==0:
  print('Num is divisible by 7')
else:
  print('Num is not divisible by 7')

Num is not divisible by 7

In [68]:
num = 49
if num%7 ==0:
  print('Num is divisible by 7')
else:
  print('Num is not divisible by 7')

Num is divisible by 7

In [70]:
#write a program to print hello if number is multiple of five or three else print bye.
num = 86
if num%3== 0 or num%5==0:
  print('Hello')
else:
  print('Bye')

Bye

In [71]:
#User Input Function
input_message=input()
print(input_message)
print(type(input_message)) #The default type is string for input function.

55
55
<class 'str'>

In [76]:
input_message = input('Please enter a number: -')
input_message_int = int(input_message)
input_message_float = float(input_message)

Please enter a number: -95

In [77]:
print(input_message_int)
print(input_message_float)

95
95.0

In [86]:
#Write a python program that will check the following conditions:
#If the light is green -Car is allowed to go
#If the light is yellow -Car has to wait
#If the light is red -Car has to stop
#Other Signal -Unrecognized signal. Example black, blue etc..

signal =  input('What is the traffic signal?').title()#you can use . lower as well
if signal == 'Red':
  print('Car has to stop')
elif signal == 'Yellow':
  print('Car has to wait')
elif signal == 'Green':
  print('Car is allowed to go')
else:
  print('Unrecognized signal')

What is the traffic signal?RED
Car has to stop

In [107]:
"""Write a program to trace your subject mark. your program should fulfill the following conditions:

if the subject mark is below 0 and above 100, print 'error:mark should be between 0 and 100 only
Students will fail in the subject if their mark is below 50.
Students will pass in the subject if they score 50 and above.

If the subject mark is between 50 and 60, grade student as good.
If the subject mark is between 60 and 80, grade student as  very good.
If the subject mark is between 80 and 100, grade student as outstanding.

Make sure to print their mark in every statement to prove that the condition is fulfilled. Moreover, name, class, and section should also
be displayed along with the marks."""

name = input('Enter name:').title()
clas = input('Enter class:')
section = input('Enter section:').title()
subject = input('Enter the subject name:').title()
mark = float (input('Enter your mark: '))
if mark <0 or mark >100:
  print('Error, Mark should be between 0 and 100 only.')
elif mark < 50:
  print(subject,'mark is',mark)
  print('Failed in',subject)
elif mark >= 50:
  print(subject,'mark is',mark)
  print('Passed in',subject)
  if mark > 50 and mark < 60:
    print('Remark: Good in', subject)
  elif mark >=60 and mark<80:
    print('Remark: Very good in', subject)
  elif mark >=80:
    print('Remark: Outstanding in', subject)

Enter name:ajita
Enter class:8
Enter section:a
Enter the subject name:Science
Enter your mark: 98.5
Science mark is 98.5
Passed in Science
Remark: Outstanding in Science