In [1]:
lst1 = [12,23,34,45,67,78,89,90,21,35,43,54,76,87,99]
for i in lst1:
  print('Value of i',i)

Value of i 12
Value of i 23
Value of i 34
Value of i 45
Value of i 67
Value of i 78
Value of i 89
Value of i 90
Value of i 21
Value of i 35
Value of i 43
Value of i 54
Value of i 76
Value of i 87
Value of i 99

In [2]:
tuple = ('apple', 'banana','cherry','dates','eggfruit','fig','grapes','honeyfruit')
for i in tuple:
  print('value of i',i)

value of i apple
value of i banana
value of i cherry
value of i dates
value of i eggfruit
value of i fig
value of i grapes
value of i honeyfruit

In [5]:
set1 = {'apple', 'banana','cherry','dates','eggfruit','fig','grapes','honeyfruit',9,9,58,0,5,77,55,77}
for i in set1:
  print('value of i',i) #set gives values randomly.Set is collection of unordered element.

value of i 0
value of i 58
value of i 5
value of i 9
value of i 77
value of i dates
value of i cherry
value of i honeyfruit
value of i 55
value of i banana
value of i grapes
value of i fig
value of i eggfruit
value of i apple

In [7]:
str1 ='Peppa prefer Python Programming'
print(len(str1))
for i in str1:
  print('Value of i',i)#every single alphabet is considered element.

31
Value of i P
Value of i e
Value of i p
Value of i p
Value of i a
Value of i
Value of i p
Value of i r
Value of i e
Value of i f
Value of i e
Value of i r
Value of i
Value of i P
Value of i y
Value of i t
Value of i h
Value of i o
Value of i n
Value of i
Value of i P
Value of i r
Value of i o
Value of i g
Value of i r
Value of i a
Value of i m
Value of i m
Value of i i
Value of i n
Value of i g

In [10]:
dict1 ={'a':'apple','b':'ball','c':'cat','d':'dog'}
for i in dict1:
  print('value of i',i)#It prints keys not values.

value of i a
value of i b
value of i c
value of i d

In [11]:
for i in range(10): #Index will start with zero and goes upto 9
 print('value of i',i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [12]:
for i in range(0,10):
 print('value of i',i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [15]:
for i in range(0,10,1):
 print('value of i',i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [31]:
for i in range(10):
  for j in range(10):
    print('*', end=' ')
  print('\r') #This code is used to change the row.'\n' is used to change line.

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [39]:
k=0
for i in range(10):
  for j in range(10):
    k+=1
    print(k,end='  ')
  print('\r')

1  2  3  4  5  6  7  8  9  10
11  12  13  14  15  16  17  18  19  20
21  22  23  24  25  26  27  28  29  30
31  32  33  34  35  36  37  38  39  40
41  42  43  44  45  46  47  48  49  50
51  52  53  54  55  56  57  58  59  60
61  62  63  64  65  66  67  68  69  70
71  72  73  74  75  76  77  78  79  80
81  82  83  84  85  86  87  88  89  90
91  92  93  94  95  96  97  98  99  100

In [43]:
for i in range(10):
  for j in range(0,10-i): #This is for printing spaces before the astericks
    print(' ', end='')
  for k in range(0,i+1): #This is for printing the astericks
    print('*', end=' ')
  print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [58]:
for i in range(10):
  for j in range (0,i+1):
    print(' ', end='')
  for k in range(0,10-i): #This is for printing the astericks
    print('*', end=' ')
  print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [66]:
for i in range(10):
  for j in range (0,i+1):
    print(' ', end='')
  for k in range(0,10-i): #This is for printing the astericks
    print('*', end=' ')
  print('\r')
for i in range(10):
  for j in range(0,9-i): #This is for printing spaces before the astericks
    print(' ', end='')
  for k in range(0,i+2): #This is for printing the astericks
    print('*', end=' ')
  print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
* * * * * * * * * * *