In [ ]:
#Integer: Any whole number (+ve or -ve) is called as integer.
int1 = 1992
print(int1)
print(type(int1))

int1 = -1992
print(int1)
print(type(int1))

1992
<class 'int'>
-1992
<class 'int'>

In [ ]:
#float: Any combination of whole number and fractional number (=ve or -ve)is called as float.
flt1 = 3.1415
print(flt1)
print(type(flt1))

3.1415
<class 'float'>

In [ ]:
# Complex: Combination of integer or float and imaginery number integer or float is called as complex number.
complex1 = 2 +3j
print(complex1)
print(type(complex1))

(2+3j)
<class 'complex'>

In [ ]:
#Boolean: True and False. Numeric value of true is 1 and numeric value of false is 0.
bool1= True
print(bool1)
print(type(bool1))

bool1 = False
print(bool1)
print(type(bool1))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
#String
#Any combination inside single quotes.
#Any combination inside double quotes.
#Any combination inside triple single quotes.
#Any combination inside triple double quotes.

str1 = 'Python Programming'
print(str1)
print(type(str1))

str1 = "Python Programming"
print(str1)
print(type(str1))

Python Programming
<class 'str'>
Python Programming
<class 'str'>

In [ ]:
str1 = 'The unspoken truths for career success by "Tessa White".'
print(str1)

The unspoken truths for career success by "Tessa White".

In [ ]:
#List:
# 1. List is mutable.
# 2. List is represented by square brackets '[]'.
lst1 = [12,23,34,45,55,65,75,80]
print(lst1)
print(type(lst1))

[12, 23, 34, 45, 55, 65, 75, 80]
<class 'list'>

In [ ]:
#Tuple
#1. Tuple is represented by circular brackets '()'.
#2. Tuple is inmutable.

tup1 = (1,2,3,4,5)
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
#Set
# 1. Set is combination of unique values.
# 2. Set is collection of unordered elements (set displays values randomly).
# 3. It is represented by curly brackets '{}'.
# 4. Set is mutable.

set1 = {1,1,2,2,3,3,4,4,4, 'a','a','D'}
print(set1)
print(type(set1))

{1, 2, 3, 4, 'D', 'a'}
<class 'set'>

In [ ]:
lst1 = [1,3,4,'a', 'D', 4,5,6]
print(lst1)

[1, 3, 4, 'a', 'D', 4, 5, 6]

In [ ]:
tuple1 = (1,1,3,4,5,'a','b',True,False)
print(tuple1)

(1, 1, 3, 4, 5, 'a', 'b', True, False)

In [ ]:
set1 = {0,1,1,2,4,4,4,5,3+2j,'f',True,False,'True','False'}
print(set1)

{0, 1, 2, 'False', 4, 5, 'True', (3+2j), 'f'}

In [ ]:
dict1 = {'a':'apple',
         'b':'banana',
         'c':'cherry'}
print(dict1)
print(type(dict1))

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}
<class 'dict'>

In [ ]:
dict1 = {'d':'dog',
         'e':'elephant',
         1:'1,2,3',
         'True':1,
         'True':False}
print(dict1)
print(type(dict1))

{'d': 'dog', 'e': 'elephant', 1: '1,2,3', 'True': False}
<class 'dict'>

In [ ]:
#Index
str1 = 'Ajitagiri'
print(str1)
print(type(str1))
print(len(str1))

Ajitagiri
<class 'str'>
9

In [ ]:
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])

print(str1[0:5])

A
j
i
t
a
Ajita

In [ ]:
str2 =' I Love Freakonomics'
print(len(str2))
print(str2[0])
print(str2[1])
print(str2[2])
print(str2[3])
print(str2[4])
print(str2[5])
print(str2[6])
print(str2[7])
print(str2[8])
print(str2[9])
print(str2[10])
print(str2[11])
print(str2[12])
print(str2[13])
print(str2[14])
print(str2[15])
print(str2[16])
print(str2[17])
print(str2[18])
print(str2[19])

20

I

L
o
v
e

F
r
e
a
k
o
n
o
m
i
c
s

In [ ]:
str3 ='ILoveFreakonomics'
print(len(str3))

17

In [ ]:
print(str3[0:17:1])

ILoveFreakonomics

In [ ]:
print(str3[:1:1])

I

In [ ]:
print(str2[2:7:1])

 Love

In [ ]:
print(str3[5:18:1])

Freakonomics

In [ ]:
str4 ='AjitaGiri'
print(str4[:5])
print(str4[5:10])

Ajita
Giri

In [ ]:
temp_str ='Hello World'
print(temp_str[::2])
#String slicing [start:stop:step]

HloWrd

In [ ]:
dir(temp_str) #Directory

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
temp_str = 'hello world'
print(temp_str.capitalize()) #Takes 1st character of string to uppercase

Hello world

In [ ]:
temp_str='HeLLo WorLD'
print(temp_str.casefold()) #returns a string where all characteres are lowercase

hello world

In [ ]:
#Increaase length of string by adding whatever character is mentioned if not by default fills by space
temp_str='HeLLo WorLD'
print(temp_str.center(12,'*'))# the dummy character (*) is added from right.

HeLLo WorLD*

In [ ]:
temp_str='HeLLo WorLD'
print(temp_str.center(11,'*'))

HeLLo WorLD

In [ ]:
temp_str='HeLLo WorLD'
print(temp_str.center(17,'*'))

***HeLLo WorLD***

In [ ]:
temp_str='HeLLo WorLD'
print(temp_str.center(17,'1'))

111HeLLo WorLD111

In [ ]:
#Returns how many times the substring appears in the given range by default picks full string
#Count function is case sensitive
#It only works for alphabetic characters
temp_str='Hello World how is it going'
temp_str.count('how')

1

In [ ]:
temp_str='Hello World how is it going'
temp_str.count('o')

4

In [ ]:
temp_str='hello World how is it going'
temp_str.count('hello',2)

0

In [ ]:
#Returns True and False on the basis of Suffix passed.
temp_str='Hello World how is it going? Hello all good!'
temp_str.endswith('!')

True

In [ ]:
#endswith(value,start,end)
print(temp_str.endswith('lo',0,5))
print(temp_str.endswith('good',0,len(temp_str)-1))

True
True

In [ ]:
#find: returns the first index occurence of given argument
temp_str='Hello World how is it going? Hello all good! how are you!'
temp_str.find('how')

12

In [ ]:
temp_str='Hello World how is it going? Hello all good! how are you!'
temp_str.find('HIR') #If the substring is not found then it returns -1.

-1

In [ ]:
temp_str='Hello my name is {name}, I am a {position}!'
print(temp_str)
print(temp_str.format(name='Ajita',position='DS'))

Hello my name is {name}, I am a {position}!
Hello my name is Ajita, I am a DS!

In [ ]:
temp_str='Hello my name is {0}, I am a {1}!'
print(temp_str.format('Ajita','DS'))
print(temp_str.format('DS','Ajita'))

Hello my name is Ajita, I am a DS!
Hello my name is DS, I am a Ajita!

In [ ]:
#Functions
#1 format map
#2 expandtabs

In [ ]:
#Replica of find function but this returns error if nothing found
temp_str='Hello World how is it going? Hello all good! how are you!'
temp_str.index('sssshow')

ValueError: substring not found

In [ ]:
#Returns True if only numbers and alphabets are present without any space else returns false
temp_str='Hello World how is it going? Hello all good! how are you!'
print(temp_str.isalnum())

temp_str1='HelloWorldhowisitgoing1234'
print(temp_str1.isalnum())

False
True

In [ ]:
#Returns True if only alphabets are present without any space else returns false
temp_str='Hello World how is it going? Hello all good! how are you!'
print(temp_str.isalpha())

temp_str1='HelloWorldhowisitgoing'
print(temp_str1.isalpha())

False
True

In [ ]:
#Returns True if only numbers between 0 to 9 are present without any space else returns false. It works for unicode.
temp_str='Hello World'
print(temp_str.isdecimal())

temp_str1='1235859'
print(temp_str1.isdecimal())

temp_str1='Hello1235859'
print(temp_str1.isdecimal())

temp_str1='    111235859'
print(temp_str1.isdecimal())

temp_str1='0111235859'
print(temp_str1.isdecimal())

unicode_0='\u0030'
print(unicode_0.isdecimal())

False
True
False
False
True
True

In [ ]:
#isdigit doesnot work for unicode.
temp_str='01268884568688'
print(temp_str.isdigit())

unicode_0='\u0030'
print(unicode_0.isdigit())

True
True