In [1]:
c_set={1,2,3,4,5,6,7,8,}
dir(c_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [14]:
#add:adds one element at a time.
set={1,2,3}
set.add(4)
print(set)

{1, 2, 3, 4}

In [17]:
#remove:Removes element from set.Imp: it gives error if the element is not found.
set={1,2,3}
set.remove(3)
print(set)

{1, 2}

In [19]:
#discard:Removes element from set if it exists,
#but doesn't raise an error if the element is not found.
set={1,2,3}
set.discard(4)
print(set)

{1, 2, 3}

In [21]:
#pop:Removes and returns an arbitary element from the set.
set={1,2,3}
set.pop()
print(set)

{2, 3}

In [22]:
#clear:Removes all element from the set.
set={1,2,3}
set.clear()
print(set)

set()

In [23]:
#union:gives the set of unique elements.
set1={1,2,3}
set2={1,2,3,4,5,6,1}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [24]:
#intersection:gives the common elements between two sets.
set1={1,2,3}
set2={1,2,3,4,5,6,1}
intersection_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [26]:
#difference:returns a new set containing elements that are in the first set but not in the second.
set1={1,2,3,9}
set2={1,2,3,4,5,6,1}
difference_set=set1.difference(set2)
print(difference_set)

{9}

In [27]:
#symmetric_difference:returns a new set containig elemts that are in  either of the sets,
#but not in their intersection.
set1={1,2,3,9}
set2={1,2,3,4,5,6,1}
symmetric_difference_set=set1.symmetric_difference(set2)
print(symmetric_difference_set)

{4, 5, 6, 9}

In [29]:
#copy:Creates a copy of the set.
set={1,2,3}
copy_set = set.copy()
print(copy_set)

{1, 2, 3}

In [30]:
#difference_update:removes elements from the set that are also present in another set.
set1={1,2,3,9}
set2={1,2,3,4,5,6,1}
set1.difference_update(set2)
print(set1)

{9}

In [32]:
#intersection_update:removes elements from the set that are also present in another set.
set1={1,2,3,9}
set2={1,2,3,4,5,6,1}
set1.intersection_update(set2)
print(set1)

{1, 2, 3}

In [2]:
#symmetric_difference_update:removes elements from the set that are also present in another set.
set1={1,2,3,9}
set2={1,2,3,4,5,6,1}
set1.symmetric_difference_update(set2)
print(set1)

{4, 5, 6, 9}

In [3]:
#isdisjoint:checks if two sets have no common elements.
set1={1,2,3,9}
set2={1,2,3,4,5,6,1}
disjoint=set1.isdisjoint(set2)
print(disjoint)

False

In [5]:
#issubset:checks if one set is a subset of another.
set1={1,2,3}
set2={1,2,3,4,5,6,1}
subset=set1.issubset(set2)
print(subset)

True

In [6]:
#issuperset:checks if one set is a superset of another.
set1={1,2,3,9}
set2={1,2,3,4,5,6,1}
superset=set1.issuperset(set2)
print(superset)

False

In [7]:
#update:updates the set with elements from another set or iterable.
set1={1,2,3,9}
set2={1,2,3,4,5,6,1}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 9}

In [8]:
#difference:Returns a new set containing elements that are in the first set but not in the second.
set1={1,2,3,9}
set2={1,2,3,4,5,6,1}
difference_set=set1.difference(set2)
print(difference_set)

{9}